<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools">
  <uses-permission android:name="android.permission.READ_SMS" tools:node="replace"/>
  <uses-permission android:name="android.permission.RECEIVE_SMS" tools:node="replace"/>

  <application>
    <receiver
      android:name="com.moneykai.nativecapture.MoneyKaiSmsReceiver"
      android:exported="true"
      tools:node="replace">
      <intent-filter>
        <action android:name="android.provider.Telephony.SMS_RECEIVED"/>
      </intent-filter>
    </receiver>
  </application>
</manifest>
